.statusBar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    width: 70px;
}

.spinner {
    color: rgba(198, 198, 198, 0);
}
.updatingSpinner {
    color: #595959;
    animation: spin 3s linear infinite;
}
@keyframes spin { to { transform: rotate(360deg); } }

.fileIcon , .saveIcon{
    color: #c6c6c6;
    pointer-events: none;
}

.fileExists {
    color: #82b6b1;
}

.exportPossible {
    color: #56916b;
    pointer-events: auto;
}

.changesExist {
    color: #ed9d5a;
    pointer-events: auto;
}

.saveable:hover {
    border-radius: 4px;
    color: rgba(237, 157, 90, 0.49);
    cursor: pointer;
}

.exporable:hover {
    border-radius: 4px;
    color: rgba(86, 145, 107, 0.49);
    cursor: pointer;
}