.mapContainer {
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* leaflet custom marker */
.markerCircle {
  border-radius: 50%;
}

.startMarker {
  background: green;
}

.endMarker {
  background-color: red;
}

.focusMarker {
  background-color: #ff00ff; /* A bright magenta for high visibility */
  border: 1px solid #fff;
  box-shadow: 0 0 5px #ff00ff;
}