.container {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.header h2 {
  margin-right: 10px;
  color: #42362b;
}

.graphsContainer {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.titleEditor {
  border-radius: 8px;
  background-color: #f0f0f0;
  padding: 6px;
}

.primaryTitle {
  font-weight: bold;
}

.secondaryTitle {
  font-size: smaller;
}