.container {
  display: flex;
  width: 100dvw;
  max-width: 100dvw;
  height: 100%;
  position: relative;
  overflow: auto;
  background: #e8d6cb;
}

.panel {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.resizer {
  width: 6px;
  cursor: col-resize;
  background: #776c5c;
  transition: background-color 0.2s;
  height: 100%;
  z-index: 1;
}

.resizer:hover,
.resizer.resizing {
  background: #4d90fe;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.panel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.panel {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
